<!-- Copyright (c) 2021 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/home/register.js" defer></script>
  <link rel="stylesheet" href="/css/home/login.css">
  
  <title>Document</title>
</head>
<body>
  <div class="login-page">
    <div class="form">
      <form class="login-form">
        <input id="id" type="text" placeholder="Id"/>
        <input id="name" type="text" placeholder="Name"/>
        <input id="password" type="password" placeholder="Password"/>
        <input id="confirm-password" type="password" placeholder="Confirm password"/>
        <button>SIGN UP</button>
        <p class="message">Already registered? <a href="/login">Log in</a></p>
      </form>
    </div>
  </div>
</body>
</html>